/* Variables */
:root {
  /* Colors */
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
}
body {
  font-family: "roboto", sans-serif;
  color: var(--slate);
  background: var(--white, #fff);
}

.logo,
.logo-studio,
.logo-studio2 {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo {
  color: var(--iris);
  text-decoration: none;
}

.logo-studio {
  color: var(--navy-blue);
}
.logo-studio2 {
  color: var(--cloud);
}
.nav-bar .nav-link {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0sem;
  text-decoration: none;
}

.nav-list {
}

.list {
  list-style-type: none;
}

.nav-bar .nav-link:hover,
.nav-bar .nav-link:focus,
.nav-bar .nav-link.current,
.contact-info .contact-link:hover,
.contact-info .contact-link:focus {
  color: var(--ocean);
}

.contact-info .contact-link {
  color: var(--slate);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0sem;
  text-decoration: none;
  text-transform: lowercase;
}

.hero-bg {
  background: var(--navy-blue);
}

.hero-h1 {
  color: var(--white);

  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  letter-spacing: 1.12px;
}

.hero-button {
  cursor: pointer;
  background: var(--iris);
  color: var(--white);

  /* Button Text */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--ocean);
}

.sections-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section3-bg {
  background: var(--cloud);
}
.section3-list {
  background: var(--white);
}
.sections-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1, 11; /* 120% */
  letter-spacing: 0.4px;
}

.sections-p {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.11; /* 150% */
  letter-spacing: 0.32px;
}

.section3-img {
  width: 264px;
  height: 260px;
}

.footer {
  background: var(--navy-blue);
}

.footer-p {
  color: var(--cloud);
  width: 264px;
  /* Body */

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* Portfolio */
.filter-button {
  cursor: pointer;

  background: var(--cloud);

  /* Button Text */
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.filter-button:hover,
.filter-button:focus {
  cursor: pointer;
  border-radius: 4px;
  background: var(--ocean);

  /* Button Text */
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.row1-img {
  width: 360px;
  height: 300px;
  flex-shrink: 0;
}

.row-list-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.row-list-p {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
